@import url(//db.onlinewebfonts.com/c/544da55955a950deb15d6a7536c4da34?family=Brandon+Grotesque+Regular);
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root {
  --primary: #8a8a8a;
  --dark: rgb(47, 79, 79);
  --light: #ccc;
  --extra-dark: #333;
  --showcase: black;
  /* --neutral: rgb(214, 158, 113); */
  --neutral: rgb(228, 174, 129);
  --neutral2: rgb(177, 143, 99);
  --neutral3: #e3bca6;
  --neutral4: #e8ddc9;
  --rose: #dbb2a5;
  --rose2: rgb(175, 147, 147);
}

* {
  margin: 0;
  padding: 0;
  color: var(--primary);
  box-sizing: border-box;
  font-family: 'Brandon Grotesque Regular', sans-serif;
}

img {
  width: 100%;
}

/* ------ NAVBAR STYLES ------ */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 99;
  padding: 0.5rem 0;
  background-color: white;
}

nav .navbar {
  max-width: 1280px;
  margin: 8px auto;
  width: 90%;
  /* padding: 5px 2.5rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .navbar .nav-links {
  display: flex;
}

nav .navbar .nav-links .links {
  display: flex;
  justify-content: flex-end;
}

nav .navbar .nav-links .links li {
  position: relative;
  list-style: none;

}

nav .navbar .nav-links .links li {
  margin-left: 2rem;
}

/* ====== Typography ====== */
nav .navbar .brand {

  color: var(--extra-dark);
  font-size: 24px;
  letter-spacing: 0.02em;
}

nav .navbar .nav-links .links li a {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  white-space: nowrap;
}

nav .navbar .nav-links .links li a:hover {
  border-bottom: 1px solid var(--light);
}

.navbar .nav-links .links li a.active-link  {
  color: var(--extra-dark);
  border-bottom: 1px solid var(--neutral2);
}

.hamburger,
.contact-close {
  display: none;
  position: relative;
  z-index: 2000;  
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin-top: 0.5em;
  /* padding: 1rem 0; */
}

.hamburger span,
.contact-close span {
  display: block;
  width: 28px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background-color: var(--dark);
  border-radius: 6px;
  z-index: 1;  
}

.hamburger span {
  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--light);
}

.hamburger.active span:nth-child(1) {
  transform: translate(0px, -5px) rotate(45deg);
}


.hamburger.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.active span:nth-child(3) {
  transform: translate(-3px, 1px) rotate(-45deg);
}

.hamburger.active:hover span {
  background-color: var(--neutral);
}


@media (max-width: 768px) {

   nav .navbar .nav-links .links {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 999;
    inset: 0 0 0 0;
    background: rgba(216, 215, 215, 0.32);
    backdrop-filter: blur(0.3rem);
    padding: min(20rem, 12vh) 3rem;
    margin: 0;
    transform: translateX(100%);
  }

  nav .navbar .brand {
    z-index: 2000;
  }

  nav .navbar .nav-links .links li a {
    color: var(--extra-dark);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-bottom: none;
    transition: color 0.5s;
    font-size: 16px;
    font-weight: bolder;
  }

  nav .navbar .nav-links .links li a:hover {
    color: #fff;
    border-bottom: none;
  }

  .navbar .nav-links .links li a.active-link  {
    border-bottom: none;
  }

  nav .navbar .nav-links .links li {
  
    margin-top: 3em;
    text-align: center;
  }

  nav .navbar .nav-links .links[data-visible="true"] {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
  }

}

/* * ------ HOME PAGE STYLES ------  */  
/* blog portfolio style */


.blog-collection {
  max-width: 1280px;
  margin: 4.5em auto 5px auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.blog-item-group {
  position: relative;
}

.blog-img-background {
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-group {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
}

.logo-group img {
  padding-bottom: 10px;
  max-width: 50%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}


.img-text-group .subtitle {
  transition: 1s;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: transparent;
  white-space: nowrap;
}

.img-text-group:hover .subtitle {
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.2em;
}

.img-text-group .read-more {
  font-weight: 400;
  color: transparent;
  white-space: nowrap;
  letter-spacing: 0.05em;
  
}

.img-text-group:hover .read-more {
  font-weight: 400;
  color: #fff;
}

.img-darken {
  transition: 1s ease-in-out;
  filter: brightness(40%);
}

@media screen and (max-width: 768px) {
  .blog-collection {
    display: block;
  }

  .blog-item-group {
    margin-bottom: 5px;
  }

  .logo-group img {
    width: 50%;
    max-width: 100px;
  }

  .img-text-group:hover .subtitle {
    font-size: 16px;
  }
}

/* ------ Footer Styles ------ */

.footer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--neutral);
  padding-top: 2rem;
  font: 400 14px/1.8em 'Open Sans Condensed';
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  text-shadow: none;
  z-index: 999; 
}

.footer-container {
  overflow: visible;
  max-width: 1280px;
  width: 90%;
  margin: auto;
  padding: 1rem 0;
  position: relative;
}

.foocol {
  font-size: 12pt;
  margin: 0 -1px 0 0;
  position: relative;
  height: 100%;
  min-height: 1px;
  float: left;
  width: 20%;
  border-right: none;
}

.footer > .footer-container > .foocol > .first {
  padding: 0 2% 5px 20%;
  border-left: none;
 
}

.footer .foocol:nth-child(5) {
  width: 26%;
}

.foocol.last {
  border-left: 1px solid white;
  line-height: 1.5em;
  padding: 0 0 2rem 2%;
  border-right: none;
  float: right;
}

.foocol h2 {
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  font-size: 12px;
  letter-spacing: .1em;
  white-space: nowrap;
  text-transform: uppercase;
  font: 750 18px monospace;
}

.footer ul li,
.foocol h2,
.post-date,
.post-list a,
.footer-bio,
.footer-social-bar i,
.copyright p {
  color: #fff;
}

ul.post-list {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

ul.post-list li {
  font-size: 1.2rem;
  text-decoration: none;
  margin-bottom: 1em;
  white-space: nowrap;
}

ul.post-list li a {
  text-decoration: none;
}

ul.post-list li:hover a {
  /* background-color: var(--neutral4); */
   padding: 0 20px;
  transition: 0.3s ease-in-out; 
}

.post-date {
  display: block;
  font-style: italic;
  font-size: 16px;
  padding-top: 5px;
}

.foocol.last img {
  width: 35%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.custom-widget .footer-bio {
  white-space: pre-wrap;
  margin-top: -0.2em;
}

.custom-widget .footer-social-bar {
  white-space: nowrap;
}

.custom-widget .footer-social-bar a {
  text-decoration: none;
}

.custom-widget .footer-social-bar i {
  color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  padding: 4px;
  margin: 2px;
  font-size: 18px;
}

.custom-widget .footer-social-bar i:hover {
  /* background: var(--neutral4); */
  border-radius: 50%;
  border: 2px solid white;
  transition: 0.3s ease-in-out;
}

.meta-more {
  display: inline-block;
  position: relative;
  background: white;
  border: 2px solid white;
  text-align: center;
  margin-bottom: 1em;
  padding: 0 25px;
  letter-spacing: 0.05em;
  white-space: nowrap;
}

.meta-more:hover {
  background: var(--neutral4);
  transition: 0.3s ease-in-out;
  ;
}

.meta-more:hover a,
.meta-more:focus a {
   color: white;
}

.meta-more a {
  text-decoration: none;
  color: var(--neutral);
  font-size: 12px;
}

.copyright {
  padding-top: 1em;
  overflow: hidden;
  border-top: 1px solid white;
  font-size: 12px;
}

.fr {
  float: right;
  padding-right: 1rem;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
}

@media screen and (max-width: 768px) {
  .foocol {
    padding: 30px;
    width: 50%;
    float: none;
  }
  
  .footer-container {
    margin: auto;
    justify-content: center; 
    align-items: center;
  }

  .foocol:nth-child(1) {
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .footer-bio {
    white-space: wrap;
  }

  .footer .foocol.last,
  .foocol.last img,
  .custom-widget {
    float: none;
    margin: 0 auto;
    border-left: none;
    padding-left: 15px;
    line-height: 1.5em;
  }

  .foocol.last img {
    width: 30%;
  }
  
  .post-list,
  .post-date {
    display: block;
  }

  ul.post-list {
    list-style: square;
  }

  .meta-more {
    position: relative;
    display: inline-block;
    padding: 0 40px;
    white-space: nowrap;
  }

  .custom-widget .footer-social-bar i {
   font-size: 20px;
    margin: 4px;
  }

}

/* ------- About Page Style ------- */

header {  
  max-width: 1440px;
  min-height: 12vh;
  height: 430px;
  margin: 4.5rem auto 0.5rem auto;
  cursor: pointer;
  background-image: linear-gradient(rgba(32, 21, 21, 0.5), rgba(43, 39, 39, 0.5)), url(images/about/frozenleaf.jpg);
  background-position: center center;
  position: relative;
  background-size: cover;
 
}

.header-container,
.common-page-container,
.profile-title,
.about-bio,
section {
  margin: auto;
}

.header-container {
  max-width: 900px;
}

.profile-title {
  width: 90%;
  position: relative;
}

.profile-title p {
  font-family: 'Brandon Grotesque Regular', sans-serif;
  position: relative;
  top: 120px;
  color: white;
  text-align: left;
  font-size: 2.5em;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.profile-title img {
  /* border-radius: 20%; */
  width: 210px;
  position: absolute;
  /* border: 4px solid var(--neutral4); */
  right: 0;
  top: 10.6rem;
}

@media (min-width: 768px) {
  header {
    height: 530px;
  }

  .profile-title p {
    font-size: 3em;
  }

  .profile-title img {
    top: 13.8rem; 
    width: 250px;  
  }

}

.common-page-container {
  max-width: 1280px;
  margin: auto;
}

section {  
  width: 90%;
  padding: 2.5em 0;
}

.about-section,
.attribute-section,
.course-section {
  border-bottom: 1px solid var(--neutral);
}

.heading-box {  
  letter-spacing: 0.1em; 
  text-transform: uppercase;
  color: var(--neutral3);
}

/* new section */

.new-section {
  max-width: 700px;
  margin: auto;
  display: grid;
  place-items: center;
  /* min-height: 50vh; */
  display: flex;
}

.panel {
  position: relative;
  width: 22px;
  height: 100px;
  border: 1px solid black;
  flex: 1 1 100%;
  overflow: hidden;
}

.panel::before {
  position: absolute;
  left: var(--left);
  top: var(--top);
  content: "Hello I'm Aznim";
  font-size: 80px;
  width: max-content;
}


.panel:nth-child(1) {
  --left: 0px;
  --top: 4px;
}

.panel:nth-child(2) {
  --left: -100px;
  --top: 26px;
}

.panel:nth-child(3) {
  --left: -200px;
  --top: 13px;
}

.panel:nth-child(4) {
  --left: -300px;
  --top: 25px;
}

.panel:nth-child(5) {
  --left: -400px;
  --top: 4px;
}

.panel:nth-child(6) {
  --left: -500px;
  --top: 13px;
}

.panel:nth-child(7) {
  --left: -600px;
  --top: 26px;
}



/* about-section */

span.triangle-element {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: calc(2 * 8px * 0.866) solid var(--neutral2);
  border-top: 8px solid transparent;
  display: inline-block;
  position: relative;
}

.about-bio {
  padding: 0.5em 0;
  max-width: 850px;
  color: var(--extra-dark);
}

.about-bio .big-text {
  text-align: right;
  font-size: 1.7em;
  letter-spacing: 0.02em;
  font-family: 'Fjalla One', sans-serif;
  line-height: 2em;
  color: var(--rose2);
}

.about-bio .small-text {
  font-size: 17px;
  text-align: justify;
  color: var(--dark);
  padding-top: 8px;
}


/* interest section */

.interest-icon-section,
.bullet-section {
  position: relative;
  padding: 2.5rem 0; 
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  gap: 2em;
}

.interest-icon-section {
  width: 75%;
  margin: auto;
}

.interest-icon-section .bullet-wrapper {
  flex: 1 1 9.5em;
}

.interest-icon-section .bullet-label {
  color: var(--rose2);
}

@media (min-width: 768px) {

  .about-bio {
    display: flex;
    column-gap: 2em;
    /* align-items: baseline; */

  }

}

/* ------ BLOG PAGE STYLES ------ */

.attribute-section {
  padding: 8rem 0 0;
}

.bullet-section,
.tech-content {
  max-width: 1000px;
  margin: auto;
}

.course-content-link > span.course-title,
.list-skills .skill-title,
.skill-header,
.bullet-label {
  font-size: 18px;
  color: var(--neutral2);
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 0.04em;
  white-space: nowrap;
}

.bullet-section {
  padding: 3.5rem 0; 
}

.bullet-label {
  display: block;
}

.bullet-wrapper {
  flex: 1 1 14em;
}

.bullet-wrapper .icon {
  stroke: var(--rose);
  fill: transparent;
  stroke-dashoffset: 1700;
  stroke-dasharray: 1700;
  animation: 3s ease-in forwards icon;
}

.bullet-wrapper .icon-inverse {
  stroke: var(--rose);
  fill: transparent;
  stroke-dashoffset: 500;
  stroke-dasharray: 500;
  animation: 5s ease-in forwards icon-inverse;
}


@keyframes icon-inverse {
  0% {
    stroke-dashoffset: 500;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}


@keyframes icon {
  0% {
    stroke-dashoffset: 1700;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}

@media (min-width: 840px) {
  .bullet-section {
    flex-wrap: nowrap;
  }
}

/* Tech/Course section */

.tech-content {
  margin: 2.5em auto 1em;
  display: flex;
  max-width: 950px;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 2em;
}

.course-side {
  flex: 1 1 70%;
  min-width: 35ch;
}

.skill-side {
  flex: 1 1 20%;
  text-align: center;
}

.tech-content a {
  text-decoration: none;
  position: relative;
}

.course-content-link img {
  height: 400px;
  margin: 1em auto;
  display: block;
}

.progress-bar-container {
  max-width: 800px;
  margin: auto;
}

.progress {
  border-radius: 20px;
  background: var(--neutral4);  
  box-shadow: inset 0 1px 2px rgba(107, 107, 107, 0.25), 0 1px rgba(255, 255, 255, 0.247);
}

.progress-bar {
  height: 11px;
  border-radius: 20px;
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.575), rgba(255, 255, 255, 0.137));
  transition: 0.4s linear;  
  transition-property: width, background-color; 
  margin-bottom: 1.5em;   
}

.progress-moved .progress-bar {
  width: 65%; 
  background-color: #EF476F;  
  animation: progressAnimation 6s;
}

@keyframes progressAnimation {
  0%   { width: 5%; background-color: #F9BCCA;}
  100% { width: 65%; background-color: #EF476F; }
}

span.course-content-info {
  text-align: justify;
  color: var(--dark);
  font-size: 1.2em;
}

@media (min-width: 900px) {
  .course-content img {
    height: 430px;
  }
}

/* Skills section  */


@media (max-width: 798px) {
  .skill-list-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.7em;
  }

  .skill-side {
    margin-top: 1em;
  }

  .list-skills {
    flex-basis: 100%;
  }

  .list-2 {
    order: 3;
  }
}

.list-skills .skill-title {
  border-bottom: 1px solid var(--neutral4);
  padding-bottom: 5px;
}

.skill-list-container {
  margin-top: 1em;
}

.list-skills {
  padding: 1em;
  border: 5px solid var(--neutral4);
  margin-bottom: 0.5em;
}

.list-skills ul {
  margin-top: 0.5em;  
}

.list-skills li {
  color: var(--dark);
  list-style: none;
  padding: 0.3em 0;
}


/* Projects section */

.projects {
  padding-bottom: 1em;
}

.project-container img {
  height: 350px; 
  margin-top: 3em;
}

.project-list h4 {
  top: 11rem;
}

.project-list:hover h4 {
  color: white;
  transition: 1s ease-in-out;
}

.project-info {
  padding: 1em 0;
}

.project-list p {
  color: var(--dark);
  font-size: 1.2em;
}

span.boxes {
  display: flex;
}

span.tech-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 8px 3px 0;
  background-color: var(--light);
  justify-content: center;
  width: 4.2rem;
  height: 1.5em;
}

span.tech-box p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
  letter-spacing: 0.1em;
  color: white;
}

span.project-info-title,
span.project-arrow {
  color: var(--neutral2);
}

.project-container img {
  object-fit: cover;
  object-position: center;
  position: relative;
}

.projects a,
.project-list a {
  text-decoration: none;
  position: relative;
  display: block;
}

.project-list h4 {
  position: absolute;
  font-variant: all-small-caps;
  color: transparent;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-align: center;
  left: 0;
  width: 100%;
  z-index: 1; 
}

@media (min-width: 768px) {
   
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    column-gap: 5em;
  }

  .project-container img {
   height: 300px;
   margin-top: none;
  }

  .project-list h4 {
    position: relative;
    top: -10rem;
    left: 0;
  }

  .project-info {
    padding: 0 0 1em;   
  }

  .project-list p {
    font-size: 1em;
  }

  span.boxes {
    white-space: nowrap;
  }

}

/* -------Contact Page------- */

/* .contact-section {
  margin-top: 2em;
} */

.contact-close {
  display: block;
}

.contact-close span {
  background-color: var(--neutral); 
}

.contact-close span:nth-child(2) {
  opacity: 0;
  transform: translateX(-30px);
}

.contact-close span:nth-child(1) {
  transform: translate( 2px, 5px) rotate(45deg);
}

.contact-close span:nth-child(3) {
  transform: translate(1px, -9px) rotate(-45deg);
}


.overlay {
  width: 100%;
  max-width: 1280px;
  height: 50%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: min(10rem, 12vh) 2rem;
}

.form-title {
  text-align: center;
  padding: 1em 0 0.5em;
  color: var(--rose);
  font-size: 2em;
} 

form {
  max-width: 750px;
  width: 90%;
  margin: 1em auto;
  padding: 0 3em;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  background-color: transparent;
  font-size: 1em;
  border: 2px solid var(--neutral4);
}

input[type="text"]:focus, 
textarea:focus {
  border: 2px solid var(--rose);
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--neutral3);
  cursor: pointer;
}

.submit-btn {
  margin: 1em auto 0; 
  max-width: 150px;
  width: 25%;
  font-size: 17px;  
  color: var(--rose);
  padding: 5px 10px;
  background-color: transparent;
  border: 2px solid var(--neutral);
  }
  
.submit-btn:hover,
.submit-btn:focus {
  border: 2px solid var(--neutral4);
  color: var(--primary);
  transition: 0.4s ease-in-out;
}

.error {
  color: red;
}

.error-border {
  border-bottom: 1px solid red;
}

#success {
  color: green;
}
