@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
  
  --light: #ccc;
  --dust: #ffe6ff;
  --dust2: #f1d9cd;
  --powder: #eeeeee;
  --accent3: #ffe082;
  --rust2: #df5333;
  --pitch: #272121;
  --sky: #99b3a8;
  --candy: #ff65bd;
  --candy3: #ffa4d8;
  --candy2: #ff2483;
  --clr: rgba(216, 215, 215, 0.32);
  --clr2: #b3a78c;
  --neutral2: rgb(177, 143, 99);
  --neutral3: #e3bca6;
  --neutral4: #e8ddc9;
  --rose: rgb(247, 199, 207);
  --rose2: rgb(175, 147, 147);
  --shadowA: rgba(94, 86, 86, 0.212);
  --shadowB: rgba(165, 154, 154, 0.212); 
  --scroll: rgb(11, 12, 12);
}

body {
  background-color: black;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  color: var(--dust);
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.04em;
  font-weight: lighter;
  
}

img {
  width: 100%;
}

/* ------ NAVBAR STYLES ------ */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 99;
  padding: 0.5em 0;
  background-color: black;
  max-width: 1600;
  margin: 0 auto;
}

nav .navbar {
  max-width: 1280px;
  margin: 8px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .navbar .nav-links {
  display: flex;
  font-size: 12pt;
}

nav .navbar .nav-links .links {
  display: flex;
  justify-content: flex-end;
}

nav .navbar .nav-links .links li {
  position: relative;
  list-style: none;
}

nav .navbar .nav-links .links li {
  margin-left: 2em;
}

/* ====== Typography ====== */
nav .navbar .brand {

  color: var(--dust);
  font-size: 26px;
  letter-spacing: 0.05em;
}

nav .navbar .nav-links .links li a {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  white-space: nowrap;
  color: var(--rose);
}

nav .navbar .nav-links .links li a:hover {
  border-bottom: 1px solid var(--clr2);
}

.navbar .nav-links .links li a.active-link  {
  color: var(--dust);
  border-bottom: 1px solid var(--rose);
}

.hamburger,
.contact-close {
  display: none;
  position: relative;
  z-index: 2000;  
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin-top: 0.5em;
}


.hamburger span,
.contact-close span {
  display: block;
  width: 28px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background-color: var(--dust);
  border-radius: 6px;
  z-index: 1;  
}

.hamburger span {
  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--clr);
}

.hamburger.active span:nth-child(1) {
  transform: translate(0px, -5px) rotate(45deg);
}


.hamburger.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.active span:nth-child(3) {
  transform: translate(-3px, 1px) rotate(-45deg);
}

.hamburger.active:hover span {
  background-color: var(--accent3);
}


@media (max-width: 768px) {

  /* nav {
    background-color: transparent;
  } */

  nav .navbar .nav-links .links {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    inset: 0 0 25% 0;
    background: var(--clr);
    backdrop-filter: blur(0.5em);
    padding: min(20rem, 12vh) 3em;
    margin-left: -1.5em;
    transform: translateX(100%);
  }

  nav .navbar .brand {
    z-index: 2000;
  }

  nav .navbar .nav-links .links li a {
    color: var(--accent3);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-bottom: none;
    transition: color 0.5s;
    font-size: 15pt;
    font-weight: bold;
  }

  nav .navbar .nav-links .links li a:hover {
    color: var(--dust);
    border-bottom: none;
  }

  .navbar .nav-links .links li a.active-link  {
    border-bottom: none;
    color: pink;
  }

  nav .navbar .nav-links .links li {
  
    margin-top: 3em;
    text-align: center;
  }

  nav .navbar .nav-links .links[data-visible="true"] {
    transform: translateX(0);
  }
  
  .hamburger {
    display: block;
  }
}

/* Thoughts (blog) Page Styles */


.blog-collection {
  max-width: 1350px;
  margin: 4.5em auto 0 auto;
  min-height: 20vh;
  /* width: 90%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 5px;
  padding: 5px;
  background-color: white; */
}

.blog-item-group {
  position: relative;
}

.blog-img-background {
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-group {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
}

.icon-group img {
  padding-bottom: 10px;
  max-width: 50%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}


.img-text-group .subtitle {
  transition: 0.5s;
  font-weight: 600;
  font-size: 14pt;
  text-transform: uppercase;
  color: transparent;
  white-space: nowrap;
}

.img-text-group .read-more {
  font-weight: 400;
  color: transparent;
  white-space: nowrap;
  letter-spacing: 0.05em;
  text-decoration: underline;
}


.img-text-group:hover .subtitle {
  font-weight: 600;
  color: white;
  letter-spacing: 0.2em;
}

.img-text-group:hover .read-more {
  font-weight: 400;
  color: white;
}

.img-text-group:hover,
.img-darken {
  transition: 0.5s ease-in-out;
}

.img-darken {
  filter: brightness(35%);
}

@media screen and (max-width: 768px) {
  .blog-collection {
    display: flex;
    flex-direction: column;
  }

  .icon-group img {
    width: 50%;
    max-width: 100px;
  }

  .img-text-group:hover .subtitle {
    font-size: 16px;
  }
}

/* ------ Footer Styles ------ */
.footer {

  background-color:  var(--rust2);
  padding-top: 1em;
  font: 400 14px/1.8em 'Brandon Grotesque'; 
  overflow: hidden;
  position: relative;
  text-shadow: none;
  z-index: 999;  
}

.footer-container {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
}

.copyright {
  display: flex;
  justify-content: space-between;  
  padding: 1em 0 0.5em;
  overflow: hidden;
  border-top: 1px solid var(--powder);
  font-size: 1em;
}

.footer-social-bar {
  white-space: nowrap;
}

.footer-social-bar a {
  text-decoration: none;
}

.footer-social-bar i {
  color: var(--powder);
  font-size: 1.4em;

  background: transparent;
  border-radius: 50%;
  border: 3px solid transparent;
  padding: 5px;
  margin-right: 7px;
}

.footer-social-bar i:hover,
.footer-social-bar i:focus {
  color: var(--powder) ;
  border: 3px solid var(--powder) ;
  transition: 0.5s ease-in-out;
}

.fr p {
  color: var(--powder);
  letter-spacing: 0.05em;
}

@media (max-width: 550px) {
  footer .footer-social-bar i {
   font-size: 17px;
 }
}

/* ------- About Page Styles ------- */

/* header section */

header {
  max-width: 1280px;
  margin: 4em auto;
  min-height: 30vh;
}

header .header-content { 
  width: 82%;
  margin: 0 auto;
  position: relative; 
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  align-items: center;
  flex: 1 1 45%;
  
}


.header-content > .left-content {
  height: 575px;
  background-image: url(images/about/profile2.jpg);
  background-position: center center; 
  position: relative;
  background-repeat: no-repeat;
  min-width: 300px;
  flex: 1 1 35%;
}

.header-content > .right-content {
  flex: 1 1 45%;
}

.sign-section {
  font-size: 2.8em;
  
  line-height: 1.8;
  position: relative;
  width: 100%;
  bottom: 1em;
  left: 1em;
}

.sign-section > *,
.header-subtitle-blink > * {
  font-family: 'Oswald', cursive;
  letter-spacing: 0.03em;
}

@media (max-width: 737px) {

  .sign-section {
    font-size: 1.85em;
    line-height: 1.5;
    display: block;
    left: 0;
    bottom: 5em;
    /* letter-spacing: 0.1em; */
  }

  .about-section .common-page-container {
    padding-top: 0;
    margin-top: -5em;
  }
}

.header-subtitle-blink {

    text-shadow: 0 0 2rem var(--rust2), 0 0 5rem var(--accent3),
    -1rem 0.5rem 2rem var(--rust2), 4rem 2rem 2rem var(--accent3),
    0 -3rem 4rem var(--candy), 0 0.5rem 2rem var(--accent3);
    animation: shine 2s forwards, flicker 3s infinite;
  
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: var(--candy3);
    text-shadow: 0 0 0.6rem var(--rust2), 0 0 1.5rem var(--rust2),
      -0.2rem 0.1rem 1rem var(--rust2), 0.2rem 0.1rem 1rem var(--accent3),
      0 -0.5rem 2rem var(--candy3), 0 0.5rem 3rem var(--rust2);
  }
  28%,
  33% {
    color: var(--dust);
    text-shadow: none;
  }
  82%,
  97% {
    color: var(--candy3);
    text-shadow: none;
  }
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: var(--dust);
    text-shadow: 0 0 0.6rem var(--dust), 0 0 0.5rem var(--rust2),
      -0.2rem 0.8rem 2rem var(--rust2), 0.2rem 0.1rem 1rem var(--candy2),
      0 -0.5rem 1rem var(--candy2), 0 0.5rem 2rem var(--candy);
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

section {
  margin: 0 auto;
}

.common-page-container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 3em 0;
}


.about-section .common-page-container,
.attribute-section .common-page-container,
.course-section .common-page-container {
  border-bottom: 1px solid var(--neutral4)
}

.heading-box {  
  letter-spacing: 0.1em;
  font-size: 14pt; 
  text-transform: uppercase;
  color: var(--sky);
}


/* about-section */


.about-bio,
.recommendation {
  color: var(--dust);
}

span.triangle-element {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: calc(2 * 8px * 0.866) solid var(--dust2);
  border-top: 8px solid transparent;
  display: inline-block;
  position: relative;
}


.big-text,
.about-bio em {
  text-align: right;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  line-height: 1.6; 
  font-family: 'Fjalla One', cursive;
}

.about-bio em {
  font-size: 1.1em;
}

.small-text {
  font-size: 13.5pt;
  text-align: justify;
  margin-top: 1em;
  letter-spacing: 0.05em;
}

.recommendation .big-text {
  color: var(--rose);
}

@media (min-width: 768px) {

  .about-bio,
.recommendation {
  width: 75%;
  margin: 0 auto;
  }
   
  .about-bio {
    display: flex;
    column-gap: 2em; 
  }

  .about-bio > * {
    flex: 1 1 35%;
  }

  .about-bio .big-text {
    font-size: 1.9em;
  }

  .small-text {
    margin-top: 8px;
    font-size: 14.5pt;
  }

  .recommendation .big-text,
  .recommendation .small-text {
    text-align: center;
  }
}


/* interest section */

.interest-section {
  transform-style: preserve-3d;
  position: relative;
}


.interest-icon-section,
.bullet-section {
  position: relative;
  padding: 2em 0; 
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  gap: 2em;
  width: 85%;
  margin: auto;
}

.interest-icon-section .bullet-wrapper {
  flex: 1 1 15%;  
}

@media (max-width: 900px) {
  .interest-icon-section .bullet-wrapper {
    flex: 1 1 35%;  
  }
}

@media (max-width: 500px) {
  .interest-icon-section .bullet-wrapper {
    flex: 1 1 50%;  
  }
}

.bullet-wrapper .icon-interest {
  fill: var(--dust);
  transform-style: preserve-3d;
  animation: rotate 27s infinite linear;
}


@keyframes rotate {
  to { transform: rotateY(-360deg); }
  }


/* ------ WORK PAGE STYLES ------ */

.attribute-section {
  margin-top: 5em;
}

.bullet-section {
  width: 80%;
  margin: auto;
}

.bullet-section .bullet-wrapper {
  flex: 1 1 20%;  
  white-space: nowrap;
}

@media (max-width: 1020px) {
  .bullet-section .bullet-wrapper {
    flex: 1 1 35%;  
  }
}

.bullet-label {
  display: block;
  margin-top: 1em;
}

.bullet-wrapper .icon {
  stroke: var(--candy3);
  fill: transparent;
  stroke-dashoffset: 1700;
  stroke-dasharray: 1700;
  animation: 4s ease-in forwards icon;
}

.bullet-wrapper .icon-inverse {
  stroke: var(--candy3);
  fill: transparent;
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: 8s ease-in forwards icon-inverse;
}

@keyframes icon-inverse {
  0% {
    stroke-dashoffset: 600;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes icon {
  0% {
    stroke-dashoffset: 1700;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}


/* Course section */


.course-side a {
  text-decoration: none;
 
}

.course-side .image-full {
  max-height: 380px;
  width: 100%;
  object-fit: cover;
  margin: 0.5em 0;
}

.course-content-flex {
  margin: 2em auto 0.5em;
  text-align: justify;
}

.progress {
  /* border-radius: 1.2em; */
  background: var(--rose);  
  box-shadow: inset 0 1px 2px rgba(107, 107, 107, 0.25), 0 1px rgba(255, 255, 255, 0.247);
}

.progress-bar {
  height: 0.6rem;
  /* border-radius: 1.2em; */
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.575), rgba(255, 255, 255, 0.137));
  transition: 0.4s linear;  
  transition-property: width, background-color; 
  margin-bottom: 1em;   
}

.progress-moved .progress-bar {
  width: 90%; 
  background-color: var(--candy2);  
  animation: progressAnimation 6s;
}

@keyframes progressAnimation {
  0%   { width: 35%; background-color: #F9BCCA;}
  100% { width: 90%; background-color: var(--candy2); }
}

.course-side > span.course-content-info {
  font-size: 13.5pt;
  letter-spacing: 0.05em;
}


/* Skills section  */

.skill-sidebar {
  text-align: center;
  margin-top: 2em;
}

.skill-box-1 {
  padding: 1em 0;
  border-bottom: 2px solid var(--accent3);
}

.skill-box-2 {
  padding-top: 1.5em;
}

.skill-list-widget {
  padding: 2em 2em 1.5em;
  border: 8px solid var(--light);
}

.skill-list-widget .skill-title {
  border-bottom: 1px solid var(--neutral4);
  color: var(--sky);
  padding-bottom: 0.3rem;
  font-size: 14.5pt;
}

.skill-list-widget ul {
  margin: 0.8em 0;
  list-style: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 0.5em;
}

.skill-list-widget li {
  padding: 0.3rem;
  font-size: 14pt;
}

.interest-icon-section >.bullet-label,
.course-side > span.course-title,
.skill-header,
.bullet-label {
  font-size: 14.5pt;
  color: var(--accent3);
  font-family: 'Oswald';
  letter-spacing: 0.1em;
}

@media (max-width: 600px) {

  .skill-list-widget ul > * {
    flex: 1 1 30%;
  }
}

/* Projects section */

.project-slider {
  --__spacer: 2rem;
  margin-top: 2.5em;
  display: grid;
  width: 100%;
  gap: var(--__spacer);
  grid-auto-flow: column;
  grid-auto-columns: 81%;
  overflow-x: scroll;
  box-sizing: border-box;
  scroll-snap-type: inline mandatory;
}

.project-slider > * {
  scroll-snap-align: start;
}

.project-card-group {
  --_spacer: 1rem;
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  background-color: var(--scroll);
  backdrop-filter: 10px;
  margin-bottom: 1.5rem;
  overflow: hidden;
  box-shadow: 0.3rem 0.3rem 0.5rem var(--shadowA);
  transition: 0.3s ease-in-out;
}

.project-card-group:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem var(--shadowB);
}

.project-img {
  inline-size: 100%;
  aspect-ratio: 13 / 6;
  object-fit: cover;
  -webkit-filter: grayscale(95%);
  filter: grayscale(95%);
  transition: 0.5s ease-in-out;
}

.project-img-color {
  transition: 0.5s ease-in-out;
  filter: none;
}

/* .project-img-group h4 {
  position: absolute;
  font-variant: all-small-caps;
  color: transparent;
  color: var(--candy2);
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  top: 110rem;
  bottom: 0;
  transition: 0.3s ease-in-out;
} */

/* .project-img-group:hover h4 {
  color: var(--candy2);
  transition: 0.3s ease-in-out;
} */

.card-content {
  margin: 0 1.5em;
  height: 100%;
}

.card-content p {
  font-size: 12.5pt;
  text-align: justify;
  letter-spacing: 0.05em;
}

span.project-info-title,
a.code-link {
  color: var(--accent3);
}

a.code-link {
  white-space: nowrap;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

a.code-link:hover {
  color: var(--sky);
}

.tech-icon-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 1rem 1.5rem;
}

.tech-icon > img {
  height: 2.5em;
  width: 100%;
}

.tech-icon p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 9px 1px 7px;
  border: 3px solid var(--candy);
  font-weight: bold;
  letter-spacing: 0.1em;
  color: var(--candy2);
}
.project-slider::-webkit-scrollbar {
  background: var(--scroll);
  display: inline-block;
  height: 0.5rem;
}

.project-slider::-webkit-scrollbar-thumb {
  background: var(--sky);
}

@media (min-width: 720px) {
  .course-content-flex {
    width: 80%;
    display: flex;
    justify-content: center;
    column-gap: 3em;
  }

  .course-content-flex > .course-side {
    width: 65%;
  }

  .skill-list-widget ul {
    flex-direction: column;
    align-items: center;
  }

  .skill-sidebar {
    margin-top: 0.5em;
  }

  .interest-icon-section >.bullet-label,
  .course-side > span.course-title,
  .skill-list-widget .skill-title,
  .skill-header,
  .bullet-label {
  font-size: 15pt;
  }

  .course-side > span.course-content-info {
    font-size: 14.5pt;
  }

  .card-content p {
    font-size: 13.5pt;
  }

  .project-slider {
    grid-auto-columns: 43%;
  }

  .project-card-group:hover {
    transform: translateY(-0.5%);
  }

}

/* -------Contact Page------- */

.contact-close {
  display: block;
}

.contact-close span:nth-child(2) {
  opacity: 0;
  transform: translateX(-30px);
}

.contact-close span:nth-child(1) {
  transform: translate( 2px, 5px) rotate(45deg);
}

.contact-close span:nth-child(3) {
  transform: translate(1px, -9px) rotate(-45deg);
}

.contact-layout {
  width: 90%;
  max-width: 750px;
  height: 70%;
  margin: 0 auto;
  position: relative;
  top: -3em;
  padding: min(10rem, 12vh) 0.5rem;
  text-align: center;
}

.form-title {
 
  padding: 1em 0 0.5em;
  color: var(--sky);
  font-size: 2em;
}

.form-subtitle {
  font-size: 1.3em;
  color: var(--light);
}

form {
  max-width: 900px;
  width: 100%;
  margin: 1em auto;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  background-color: transparent;
  font-size: 1em;
  border: 2px solid var(--powder);
}

input[type="text"]:focus, 
textarea:focus {
  border: 2px solid var(--clr);
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--rose2);
  cursor: pointer;
}

.submit-btn {
  margin: 1em auto 0; 
  max-width: 150px;
  width: 50%;
  font-size: 17px;  
  color: var(--dust);
  padding: 5px 10px;
  background-color: transparent;
  border: 2px solid var(--candy);
  cursor: pointer;
  letter-spacing: 0.05em;
}
  
.submit-btn:hover,
.submit-btn:focus {
  border: 2px solid var(--neutral4);
  color: var(--sky);
  transition: 0.3s ease-in-out;
}
