@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {  
  --light: #ccc;
  --dust: #ffe6ff;
  --accent3: #ffecb4;
  --rust: #cf634a;
  --nutmeg: #ce7460;
  --pitch: #030202;
  --sky: #99b3a8;
  --candy: #ff65bd;
  --candy3: #ffa4d8;
  --candy2: #ff2483;
  --clr2: #b3a78c;
  --stone: #e3bca6;
  --rose: #f7c7cf;
  --shadowDark: #6e666636;
  --shadowLight: #e9e6e636; 
  --scroll: #0d0e0e;

  --letter_space: 0.05em;
  --spacer: 2em;
  --spacer-short: 1em;
}

*,::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

html.sr .load-hidden {
  visibility: hidden;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: var(--pitch);
  line-height: 1.7;
  letter-spacing: var(--letter_space);
  min-height: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  color: var(--dust);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* ========== TYPOGRAPHY ========== */

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

a {
  cursor: pointer;
  transition: 0.4s ease;
}

p {
  font-size: 1.1rem;
}

i {
  background-color: transparent;
  font-size: 1.3rem;
  color: var(--rose);
  transition: 0.4s ease;
}

.eyecatch {
  font-family: 'Fjalla One', cursive;
}

/* ========= BUTTONS ========= */

.page-nav {
  padding: 0.8em 1.2em;
  border: 1px solid var(--rose);
  letter-spacing: 0.1em;
  font-size: 1.1rem;
  transition: 0.3s ease;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2em;
}

.page-nav a,
.card-page-nav a,
.submit-btn {
  color: var(--rose);
}

.submit-btn {
  background-color: transparent;
  font-family: inherit;
  margin-top: 1em;
}
  
.page-nav:hover,
.submit-btn:hover,
.submit-btn:focus {
 border: 1px solid var(--nutmeg);
 background-color: var(--nutmeg);
}

.card-page-nav a {
  border-bottom: 1px solid var(--rose);
}

@media (max-width: 650px) {
  .page-nav a,
  .submit-btn {
    font-size: 0.9rem;
  }
}

/* ========== LAYOUT ========== */

nav,
header,
section,
footer {
  position: relative;
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
}

header {
  height: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 3em 0;
  position: relative;
}

.section-title {
  color: var(--light);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.title-top_line::before {
  content: '';
  position: absolute;
  background-color: var(--shadowDark);
  height: 1px;
  top: 1em;
  width: 100%;
}

/* ========== NAVIGATION ========== */

/* NAV HOME STYLES */

.nav-home,
.nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99; 
  padding: 1em 0;
}

.nav-home {
  height: fit-content;
  transition: all 0.5s ease;
}

.nav-home-menu,
.navbar {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  vertical-align: middle; 
}

.nav-home-menu {
  justify-content: center;
  gap: 6em;
  font-size: 1.1rem;
  text-align: center;
}

.nav-home-menu li a,
.nav-links li a {
  font-size: 1.1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease;
  position: relative;
  color: var(--rose);
}

.nav-home-menu li a::before,
.nav-links li a::before {
  position: absolute;
  bottom: -3px;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--rose);
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.nav-home-menu li a:hover::before,
.nav-links li a:hover::before {
  transform: scaleX(1);
}

.nav-home.sticky {
  background-color: var(--pitch);
}

.nav-home.sticky .nav-home-menu li .home-link::before,
.nav-links li .active-link::before {
  transform: scaleX(1);
}

/* STANDARD NAV STYLES */

.nav {
  height: 4em;
  background-color: var(--pitch);
}

.navbar {
  font-size: 1.2rem;
  justify-content: space-between;
}

.brand a {
  color: var(--rose);
  letter-spacing: 0.08em;
  font-size: 1.4rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3em;
}

.hamburger {
  display: none;
}
  
.hamburger span,
.contact-close span {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 0.4em;
  background-color: var(--rose);
  margin-bottom: 0.3em;
  transform-origin: 0 0;
  transition: 0.3s;
}

@media (min-width: 900px) {
  .nav-home-menu {
    gap: 8em;
  }
}

@media (max-width: 650px) {
  .nav-home {
    padding: 1em 0;
  }

  .nav-home-menu {
    width: 100%;
    gap: 1em;
  }

  .nav-home-menu li {
    flex: 1 1 40%;
  }

  .nav-home-menu li a:hover::before,
  .nav-links.active li a:hover::before,
  .nav-links.active li .active-link::before {
    transform: scaleX(0);
  }
  
  /* HAMBURGER STYLES*/
  .hamburger {
    display: block;
    cursor: pointer;
    border: none;
    background: none;
    z-index: 100;
  }

  .hamburger.active span:nth-child(1),
  .hamburger.active span:nth-child(3) {
    opacity: 0;
  }

  /* NAV-LINKS */

  /* .nav-links {
    display: none;
  } */

  .nav-links {
    position: absolute;
    background-color: var(--scroll);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    z-index: 1;
    overflow: hidden;
    transition: 0.4s ease left;
  }

  .nav-links.active {
    left: 0;
  }
  
  .nav-links li a {
    font-size: 1.5rem;
  }
}

/* ========== HERO SECTION ========== */

.hero {
  height: 100%;
  display: grid;
  place-items: center;
  margin-top: 5em;
}

.hero-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.hero-bg {
  background-image: url(images/about/profile2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 550px;
  min-width: 300px;
  flex: 1 1 55%;
}

.hero-bg::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-text {
  flex: 1 1 40%;
  transform: translate(-20%, -10%);
}

.sign-section {
  color: var(--rose);
  font-size: 2.5em;  
  line-height: 1.8;
  position: relative;
  bottom: 0.5em;
  left: 1em;
  letter-spacing: 0.03em;
}

.hero-subtitle-small {
  font-size: 1.6rem;
  font-family: 'Open Sans Condensed', sans-serif;
}

@media (max-width: 650px) {

  .hero-text {
    transform: translate(10%, -15%);
  }

  .sign-section {
    font-size: 2.2rem;
    line-height: 1.5;
    display: block;
    left: 0;
    bottom: 4em;
  }

  .hero-subtitle-small {
    font-size: 1.4rem;
    color: var(--rose);
  }
}

.hero-subtitle-blink {
  text-shadow: 0 0 2rem var(--rust), 0 0 5rem var(--accent3),
  -1rem 0.5rem 2rem var(--rust), 4rem 2rem 2rem var(--accent3),
  0 -3rem 4rem var(--candy), 0 0.5rem 2rem var(--accent3);
  animation: shine 2s forwards, flicker 3s infinite;
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: var(--candy3);
    text-shadow: 0 0 0.6rem var(--rust), 0 0 1.5rem var(--rust),
      -0.2rem 0.1rem 1rem var(--rust), 0.2rem 0.1rem 1rem var(--accent3),
      0 -0.5rem 2rem var(--candy3), 0 0.5rem 3rem var(--rust);
  }
  28%,
  33% {
    color: var(--dust);
    text-shadow: none;
  }
  82%,
  97% {
    color: var(--candy3);
    text-shadow: none;
  }
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: var(--dust);
    text-shadow: 0 0 0.6rem var(--stone), 0 0 0.5rem var(--rust),
      -0.2rem 0.8rem 2rem var(--rust), 0.2rem 0.1rem 1rem var(--candy2),
      0 -0.5rem 1rem var(--candy2), 0 0.5rem 2rem var(--candy);
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}


/* ========== INTRO SECTION ========== */

.intro-bio,
.full-bio,
.full-bio .two-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer);
}

.big-text {
  font-size: 1.3rem;
}

.intro-bio .big-text {
  text-align: right;
}

.big-text em {
  font-size: 1.4rem;
}

.intro-bio .small-text {
  margin-top: 1em;
  position: relative;
}

@media (min-width: 769px) {
  
  .intro-bio .two-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacer);
    width: 80%;
    margin: 0 auto;
  }

  .intro-bio .two-col > * {
    flex: 1 1 35%;
  }

  .big-text {
   font-size: 1.8rem;
  }

  .big-text em {
    font-size: 1.9rem;
  }
  
  .intro-bio .small-text {
    margin-top: 0.2em;
  }

  .small-text {
    font-size: 1.2rem;
  }

}

/* ========== ABOUT PAGE ========== */

.bio {
  margin-top: 4em;
}

.bio-img {
  order: 2;
  -webkit-filter: grayscale(95%);
  filter: grayscale(100%);
  overflow: hidden;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .full-bio {
    width: 75%;
    margin: 0 auto;
  }

  .full-bio .two-col {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .full-bio .two-col > .bio-img {
    min-width: 30%;  
  }

  .full-bio .two-col > .bio-text {
    flex: 1 1 50%;
    min-width: 25ch;
  }

  .bio-img img {
    width: 250px;  
    height: 250px;
  }
}

.recommendation {
  padding-top: 2em;
}

.recommendation .big-text {
  text-align: right;
  font-size: 1.1rem;
}

.recommendation .small-text {
  margin-top: 0.5em;
}


@media (min-width: 769px) {
  .recommendation {
    width: 75%;
    margin: 0 auto;
  }

  .recommendation .big-text,
  .recommendation .small-text {
    text-align: center;
  }
}

/* ========= FEATURED SECTION ========= */

.featured-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  margin-top: 2em;
}

.card-group {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--spacer-short);
  background-color: var(--shadowLight);
  backdrop-filter: 10px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  align-self: normal;
}

.project-img-group img {
  inline-size: 100%;
  aspect-ratio: 13 / 6;
  object-fit: cover;
  -webkit-filter: grayscale(95%);
  filter: grayscale(95%);
  transition: 0.5s ease-in-out;
}

.card-content {
  padding: 0 1.5em 1.5em;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.project-title {
  font-size: 1.1rem;
}

.project-desc {
  font-size: 1rem;
}

.project-tags,
.card-page-nav {
  display: flex;
  gap: 0.5em;
}

.project-tags {
  margin-bottom: 0.5em;
  flex-wrap: wrap;
}

.card-page-nav {
  margin-top: auto;
}

.card-group:hover .project-img-group img {
  filter: none;
}

.card-group:hover .card-page-nav a {
  color: var(--stone);
  border-bottom: 1px solid var(--stone);
}


@media (min-width: 720px) {
  .card-wrapper {
    padding-bottom: 3em;
    border-bottom: 1px solid var(--scroll);
  }

  .featured.card-group {
    display: flex;
    gap: var(--spacer);
    background-color: transparent;
  }

  .featured.card-group > * {
    flex: 1 1 40%;
  }

    .project-img-group.order-two {
    order: 2;
  }

  .project-desc {
    font-size: 1.2rem;
  }
}

/* ========== WORK PAGE ========== */

/* Atrribute section */

.attribute {
  margin-top: 4em;
}

.bullet-section {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: var(--spacer);
  text-align: center;
}

.bullet-wrapper {
  flex: 1 1 20%;  
  white-space: nowrap;
}

.bullet-label {
  display: block;
  font-size: 1.1rem;
}

.bullet-wrapper .icon {
  stroke: var(--dust);
  fill: transparent;
  stroke-dashoffset: 200;
  stroke-dasharray: 200;
  animation: 5s ease-in forwards icon;
}

.bullet-wrapper .icon-extended {
  stroke-dashoffset: 500;
  stroke-dasharray: 500;
  animation: 5s ease-in forwards icon-extended;
}

.bullet-wrapper .icon-heart {
  stroke-dashoffset: 1400;
  stroke-dasharray: 1400;
  animation: 4s ease-in forwards icon-heart;
}

@keyframes icon {
  0% {
    stroke-dashoffset: 200;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes icon-extended {
  0% {
    stroke-dashoffset: 500;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes icon-heart {
  0% {
    stroke-dashoffset: 1400;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 1020px) {
  .bullet-wrapper {
    flex: 1 1 45%;  
  }

  .bullet-label {
    font-size: 1.2rem;
  }
}

/* Project Section */

.section-subtitle {
  padding: 1.5em 0;
}

.project-slider {
  padding-bottom: 2em;
  display: grid;
  width: 100%;
  gap: var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 82%;
  overflow-x: scroll;
  box-sizing: border-box;
  scroll-snap-type: inline mandatory;
}

.project-slider > * {
  scroll-snap-align: start;
}

.project-slider::-webkit-scrollbar {
  background: var(--shadowDark);
  display: inline-block;
  height: 0.5rem;
  border-radius: 1em;
}

.project-slider::-webkit-scrollbar-thumb {
  background: var(--rose);
  border-radius: 1em;
}

.all-work.card-group {
  transition: 0.4s ease;
}

.all-work .card-content {
  align-items: flex-start;
}

@media (min-width: 720px) {

   .project-slider {
    grid-auto-columns: 43%;
  }

  .all-work.card-group:hover {
    /* box-shadow: 0.25rem 0.25rem 0.25rem var(--rust2); */
    transform: translateY(-0.5%);
  }

  .project-title {
    font-size: 1.3rem;
  }

}
/* ========== FOOTER SECTION ========== */

footer {
  background-color: var(--nutmeg);
}


.footer-container {
  width: 90%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  height: 3.5em;
}

.social-bar {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.social-bar i:hover {
  color: var(--candy);
}

.copyright p {
  color: var(--rose);
  font-size: 0.8rem;
  padding-top: 0.2em;
}

/* ========== CONTACT PAGE ========== */

.contact-section {
  min-height: 100%;
}

.contact-close {
  display: block;
}

.contact-close span {
  background-color: var(--rose);
}

.contact-close span:nth-child(2) {
  opacity: 0;
}

.contact-close span:nth-child(1) {
  transform: translate( 2px, -2px) rotate(45deg);
}

.contact-close span:nth-child(3) {
  transform: translate(0px, 2px) rotate(-45deg);
}

.contact-layout {
  width: 90%;
  max-width: 750px;
  height: 70%;
  margin: 0 auto;
  position: relative;
  top: -3em;
  padding: min(10rem, 12vh) 0.5rem;
  text-align: center;
}

.form-title { 
  padding: 1em 0 0.5em;
  color: var(--light);
  font-size: 2em;
  border-bottom: 1px solid var(--shadowLight);
}

.form-subtitle {
  margin-top: 1em;
  font-size: 1.3em;
  color: var(--dust);
}

form {
  max-width: 900px;
  width: 100%;
  margin: 1em auto;
  box-sizing: border-box;
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  background-color: transparent;
  font-size: 1em;
  border: 1px solid var(--shadowLight);
  font-family: inherit;
  color: var(--rose);
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--rose);
  cursor: pointer;
}

