@import url(//db.onlinewebfonts.com/c/544da55955a950deb15d6a7536c4da34?family=Brandon+Grotesque+Regular);
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  
  --light: #ccc;
  --dust: #ffe6ff;
  --dust2: #f1d9cd;
  --powder: #eeeeee;
  --accent3: #ffe082;
  --rust2: #df5333;
  --pitch: #272121;
  --sky: #99b3a8;
  --candy: #ff65bd;
  --candy3: #ffa4d8;
  --candy2: #ff2483;
  --clr: rgba(216, 215, 215, 0.32);
  --clr2: #b3a78c;
  --neutral2: rgb(177, 143, 99);
  --neutral3: #e3bca6;
  --neutral4: #e8ddc9;
  --rose: #dbb2a5;
  --rose2: rgb(175, 147, 147);
}

body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  color: var(--dust);
  box-sizing: border-box;
  font-family: 'Brandon Grotesque Regular', sans-serif;
}

img {
  width: 100%;
}

/* ------ NAVBAR STYLES ------ */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 99;
  padding: 0.5em 0;
  background-color: transparent;
}

nav .navbar {
  max-width: 1280px;
  margin: 8px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .navbar .nav-links {
  display: flex;
}

nav .navbar .nav-links .links {
  display: flex;
  justify-content: flex-end;
}

nav .navbar .nav-links .links li {
  position: relative;
  list-style: none;
}

nav .navbar .nav-links .links li {
  margin-left: 2em;
}

/* ====== Typography ====== */
nav .navbar .brand {

  color: var(--dust);
  font-size: 24px;
  letter-spacing: 0.02em;
}

nav .navbar .nav-links .links li a {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  white-space: nowrap;
  color: var(--rose);
}

nav .navbar .nav-links .links li a:hover {
  border-bottom: 1px solid var(--clr2);
}

.navbar .nav-links .links li a.active-link  {
  color: var(--dust);
  border-bottom: 1px solid var(--rose);
}

.hamburger,
.contact-close {
  display: none;
  position: relative;
  z-index: 2000;  
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin-top: 0.5em;
}


.hamburger span,
.contact-close span {
  display: block;
  width: 28px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background-color: var(--dust);
  border-radius: 6px;
  z-index: 1;  
}

.hamburger span {
  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--clr);
}

.hamburger.active span:nth-child(1) {
  transform: translate(0px, -5px) rotate(45deg);
}


.hamburger.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.active span:nth-child(3) {
  transform: translate(-3px, 1px) rotate(-45deg);
}

.hamburger.active:hover span {
  background-color: var(--accent3);
}


@media (max-width: 768px) {

   nav .navbar .nav-links .links {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 999;
    inset: 0 0 13em 0;
    background: var(--clr);
    backdrop-filter: blur(0.3rem);
    padding: min(20em, 100px) 3em;
    margin: 0;
    transform: translateX(100%);
  }

  nav .navbar .brand {
    z-index: 2000;
  }

  nav .navbar .nav-links .links li a {
    color: var(--pitch);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-bottom: none;
    transition: color 0.5s;
    font-size: 16px;
    font-weight: bolder;
  }

  nav .navbar .nav-links .links li a:hover {
    color: var(--dust);
    border-bottom: none;
  }

  .navbar .nav-links .links li a.active-link  {
    border-bottom: none;
  }

  nav .navbar .nav-links .links li {
  
    margin-top: 3em;
    text-align: center;
  }

  nav .navbar .nav-links .links[data-visible="true"] {
    transform: translateX(0);
  }
  
  .hamburger {
    display: block;
  }
}

/* * ------ HOME PAGE STYLES ------  */  
/* blog portfolio style */


.blog-collection {
  max-width: 1280px;
  margin: 3.7em auto 1em auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  padding: 0.3em;
  background-color: white;
}

.blog-item-group {
  position: relative;
}

.blog-img-background {
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-group {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
}

.logo-group img {
  padding-bottom: 10px;
  max-width: 50%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}


.img-text-group .subtitle {
  transition: 1s;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: transparent;
  white-space: nowrap;
}

.img-text-group:hover .subtitle {
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.2em;
}

.img-text-group .read-more {
  font-weight: 400;
  color: transparent;
  white-space: nowrap;
  letter-spacing: 0.05em;
  
}

.img-text-group:hover .read-more {
  font-weight: 400;
  color: #fff;
}

.img-darken {
  transition: 1s ease-in-out;
  filter: brightness(35%);
}

@media screen and (max-width: 768px) {
  .blog-collection {
    display: block;
  }

  .blog-item-group {
    margin-bottom: 5px;
  }

  .logo-group img {
    width: 50%;
    max-width: 100px;
  }

  .img-text-group:hover .subtitle {
    font-size: 16px;
  }
}

/* ------ Footer Styles ------ */
.footer {
  max-width: 1380px;
  margin: 0 auto;
  background-color:  var(--rust2);
  padding-top: 1em;
  font: 400 14px/1.8em 'Open Sans Condensed'; 
  overflow: hidden;
  position: relative;
  text-shadow: none;
  z-index: 999;  
}

.footer-container {
  overflow: visible;
  max-width: 1280px;
  width: 90%;
  margin: auto;
  position: relative;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
}

.copyright {
  display: flex;
  justify-content: space-between;  
  padding-top: 1em;
  overflow: hidden;
  border-top: 1px solid var(--powder);
  font-size: 12px;
}

.footer-social-bar {
  white-space: nowrap;
}

.footer-social-bar a {
  text-decoration: none;
}

.footer-social-bar i {
  color: var(--powder);
  font-size: 1.3em;

  background: transparent;
  border-radius: 50%;
  border: 2px solid transparent;
  padding: 4px;
  margin-right: 5px;
}

.footer-social-bar i:hover,
.footer-social-bar i:focus {
  color: var(--powder) ;
  border: 2px solid var(--powder) ;
  transition: 0.5s ease-in-out;
}

.fr p {
  color: var(--powder);

  letter-spacing: 0.05em;
}
/* ------- About Page Style ------- */

header.header-content {
  max-width: 1400px;
  min-height: 20vh; 
  margin: 0 auto; 
  position: relative; 
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  column-gap: 5em;
}

.header-content > .right-content {
  flex: 1 1 10em;
}

.header-content > .left-content {
  flex: 1 1 3em;
}

.left-content {
  height: 620px;
  background-image: url(images/about/profile2.jpg);
  background-position: center center;  
  background-size: 85% 100%;
  background-repeat: no-repeat;
  height: 620px;
  min-width: 350px;
}

.right-content {
  display: grid;
  place-items: center;
  padding: 2em 0; 
}

.sign-section {
  width: 60%; 
  transform: translate(-25%, -35%);
  font-size: 2.3em;
  letter-spacing: 0.02em;
  font-family: 'Staatliches', cursive;
  line-height: 1.8;
  white-space: nowrap;
  color: var(--dust);
  
}

.header-subtitle {
  color: var(--dust);
}

.header-subtitle-blink {
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #572307,
    transparent);
    text-shadow: 0 0 0.6rem var(--dust), 0 0 1.5rem var(--accent),
    -0.2rem 0.1rem 1rem var(--accent), 0.2rem 0.1rem 1rem var(--accent3),
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem var(--accent3);
  animation: shine 2s forwards, flicker 3s infinite;
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: var(--dust);
    text-shadow: 0 0 0.6rem var(--dust), 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem var(--accent3), 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem var(--accent3);
  }
  28%,
  33% {
    color: var(--accent3);
    text-shadow: none;
  }
  82%,
  97% {
    color: var(--accent3);
    text-shadow: none;
  }
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: var(--dust);
    text-shadow: 0 0 0.6rem dust, 0 0 1.5rem var(--rust),
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem var(--accent),
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem var(--accent);
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.common-page-container,
.profile-title,
.about-bio,
section {
  margin: auto;
}

.common-page-container {
  max-width: 1280px;
  margin: auto;
  width: 90%;
  padding: 3em 0;
}

.about-section .common-page-container,
.attribute-section .common-page-container,
.course-section .common-page-container {
  border-bottom: 1px solid var(--neutral4)
}

.heading-box {  
  letter-spacing: 0.1em; 
  text-transform: uppercase;
  color: var(--sky);
}


/* about-section */

.about-section,
.interest-section {
  background-color: black;
}

span.triangle-element {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: calc(2 * 8px * 0.866) solid var(--dust2);
  border-top: 8px solid transparent;
  display: inline-block;
  position: relative;
}


.about-bio {
  max-width: 850px; 
}

.about-bio .big-text,
.about-bio em {
  text-align: right;
  font-size: 1.7em;
  letter-spacing: 0.02em;
  font-family: 'Fjalla One', sans-serif;
  line-height: 2em; 
  color: var(--dust);
}

.about-bio em {
  font-size: 1em;
}

.about-bio .small-text {
  font-size: 1.2em;
  text-align: justify;
  padding-top: 8px;
  color: var(--dust2);
}

/* interest section */

.interest-section {
  transform-style: preserve-3d; 
}

.interest-icon-section,
.bullet-section {
  position: relative;
  padding: 2.5em 0; 
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  gap: 2em;
 
}

.interest-icon-section {
  width: 78%;
  margin: auto;
}

.interest-icon-section .bullet-wrapper {
  flex: 1 1 10em;  
}

.bullet-wrapper .icon-interest {
  fill: var(--dust2);
}

.interest-icon-section .bullet-label {
  color: var(--clr2);
}


@media (min-width: 768px) {

  .about-bio {
    display: flex;
    column-gap: 2em; 
  }
}

/* ------ BLOG PAGE STYLES ------ */

.attribute-section {
  padding: 5rem 0 0;
}

.bullet-section,
.tech-content {
  max-width: 1000px;
  margin: auto;

}

.course-content-link > span.course-title,
.list-skills .skill-title,
.skill-header,
.bullet-label {
  font-size: 18px;
  color: var(--clr2);
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 0.04em;
  white-space: nowrap;
}

.bullet-section {
  padding: 3rem 0 1em 0; 
}

.bullet-label {
  display: block;
  margin-top: 1em;
}

.bullet-wrapper {
  flex: 1 1 14em;
}

.bullet-wrapper .icon {
  stroke: var(--candy3);
  fill: transparent;
  stroke-dashoffset: 1700;
  stroke-dasharray: 1700;
  animation: 4s ease-in forwards icon;
}

.bullet-wrapper .icon-inverse {
  stroke: var(--candy3);
  fill: transparent;
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: 8s ease-in forwards icon-inverse;
}


@keyframes icon-inverse {
  0% {
    stroke-dashoffset: 600;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}


@keyframes icon {
  0% {
    stroke-dashoffset: 1700;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}

@media (min-width: 840px) {
  .bullet-section {
    flex-wrap: nowrap;
  }
}

/* Tech/Course section */

.tech-content {
  margin: 2.5em auto 1em;
  display: flex;
  max-width: 950px;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 2em;
}

.course-side {
  flex: 1 1 70%;
  min-width: 35ch;
}

.skill-side {
  flex: 1 1 20%;
  text-align: center;
}

.tech-content a {
  text-decoration: none;
  position: relative;
}

.course-content-link img {
  height: 400px;
  margin: 1em auto;
  display: block;
}

.progress-bar-container {
  max-width: 800px;
  margin: auto;
}

.progress {
  border-radius: 20px;
  background: var(--rose);  
  box-shadow: inset 0 1px 2px rgba(107, 107, 107, 0.25), 0 1px rgba(255, 255, 255, 0.247);
}

.progress-bar {
  height: 11px;
  border-radius: 20px;
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.575), rgba(255, 255, 255, 0.137));
  transition: 0.4s linear;  
  transition-property: width, background-color; 
  margin-bottom: 1.5em;   
}

.progress-moved .progress-bar {
  width: 65%; 
  background-color: var(--candy2);  
  animation: progressAnimation 6s;
}

@keyframes progressAnimation {
  0%   { width: 5%; background-color: #F9BCCA;}
  100% { width: 65%; background-color: var(--candy2); }
}

span.course-content-info {
  text-align: justify;
  font-size: 1.2em;
}

@media (min-width: 900px) {
  .course-content img {
    height: 430px;
  }
}

/* Skills section  */


@media (max-width: 798px) {
  .skill-list-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.7em;
  }

  .skill-side {
    margin-top: 1em;
  }

  .list-skills {
    flex-basis: 100%;
  }

  .list-2 {
    order: 3;
  }
}

.list-skills .skill-title {
  border-bottom: 1px solid var(--neutral4);
  padding-bottom: 5px;
  color: var(--sky);
}

.skill-list-container {
  margin-top: 1em;
}

.list-skills {
  padding: 1em;
  border: 4px solid var(--clr);
  margin-bottom: 0.5em;
}

.list-skills ul {
  margin-top: 0.5em;  
}

.list-skills li {
  list-style: none;
  padding: 0.3em 0;
}


/* Projects section */

.projects { 
  margin-top: 2em; 
}

.project-container img {
  height: 350px; 
  background-color: var(--powder);
  padding: 0.3em;
  /* margin-top: 3em; */
}

.project-list h4 {
  top: 10rem;
}

.project-list:hover h4 {
  color: var(--dust);
  transition: 1s ease-in-out;
}

.project-info {
  padding: 1em 0;
}

.project-list p {
   font-size: 1.2em;
}

span.boxes {
  display: flex;
}

span.tech-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px 2.5em 0;
  background-color: var(--sky);
  justify-content: center;
  width: 4.2em;
  height: 1.5em;
}

span.tech-box p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
  letter-spacing: 0.1em;
  color: var(--powder);
}

span.project-info-title,
span.project-arrow {
  color: var(--accent3);
}

.project-container img {
  object-fit: cover;
  object-position: center;
  position: relative;
}

.projects a,
.project-list a {
  text-decoration: none;
  position: relative;
  display: block;
}

.project-list h4 {
  position: absolute;
  font-variant: all-small-caps;
  color: transparent;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-align: center;
  left: 0;
  width: 100%;
  z-index: 1; 
}

@media (min-width: 768px) {
   
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-top: 2em;
    column-gap: 5em;
  }

  .project-container img {
   height: 300px;
   margin-top: none;
  }

  .project-list h4 {
    position: relative;
    top: -8.5em;
    left: 0;
  }

  .project-info {
    padding: 0 0 1em;   
  }

   span.boxes {
    white-space: nowrap;
  }

}

/* -------Contact Page------- */


.contact-close {
  display: block;
}


.contact-close span:nth-child(2) {
  opacity: 0;
  transform: translateX(-30px);
}

.contact-close span:nth-child(1) {
  transform: translate( 2px, 5px) rotate(45deg);
}

.contact-close span:nth-child(3) {
  transform: translate(1px, -9px) rotate(-45deg);
}

.overlay {
  width: 100%;
  max-width: 1280px;
  height: 50%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: min(10rem, 12vh) 2rem;
}

.form-title {
  text-align: center;
  padding: 1em 0 0.5em;
  color: var(--sky);
  font-size: 2em;
} 

form {
  max-width: 750px;
  width: 90%;
  margin: 1em auto;
  padding: 0 3em;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  background-color: transparent;
  font-size: 1em;
  border: 2px solid var(--powder);
}

input[type="text"]:focus, 
textarea:focus {
  border: 2px solid var(--clr);
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--rose2);
  cursor: pointer;
}

.submit-btn {
  margin: 1em auto 0; 
  max-width: 150px;
  width: 25%;
  font-size: 17px;  
  color: var(--dust);
  padding: 5px 10px;
  background-color: transparent;
  border: 2px solid var(--candy);
  cursor: pointer;
}
  
.submit-btn:hover,
.submit-btn:focus {
  border: 2px solid var(--neutral4);
  color: var(--sky);
  transition: 0.3s ease-in-out;
}
